# Maven files
target/

# Eclipse files
.project
.settings
.classpath

# IDEA files
.idea
*.iml

# Testing
.driver
error-screenshots
selenium_standalone_zips
local.properties

# macOs
.DS_Store

# Frontend
/build-tools/bin/
/src/main/webapp/frontend/bower_components/
/src/main/webapp/frontend/build/
/src/main/webapp/frontend-es5/
/src/main/webapp/frontend-es6/
/build-tools/etc/
/build-tools/lib/
/build-tools/node/
/build-tools/node_modules/

/node_modules
/package.json
/package-lock.json
/tsconfig.json
/types.d.ts
/webpack.config.js
/webpack.generated.js
