# /
.classpath
*.project
*.settings
**/bin
**/target
**/error-screenshots

# Mac
*.DS_Store

# Intellij Idea files
.idea
*.iml

# VS Code
.vscode

# Selenium driver folders
selenium_standalone_zips
driver_zips
driver

types.d.ts
tsconfig.json
webpack.*
vite.*.ts
node_modules
.driver
package*json
pnpm*
error-screenshots
.npmrc

**/frontend/generated
**/frontend/index.html