/* Background color */
#selenium-ide,
#selenium-ide-sidebar,
#sidebarToolbar_URL,
#sidebarToolbar_controls,
#sidebarToolbar_speed,
#menubar,
#toolbar1 {
	-moz-appearance: none;
    background-color: #282828;
    font-family: Helvetica, Arial, sans-serif;
	font-size: 9pt;
}

#logBox{
	-moz-appearance: none;
	border:none;
	padding:0;
	margin:0;
	background:#333;
}

#logFilter, #logClear{
    -moz-appearance: none;
	color: #eee;
}

#menubar > menu { color: white; }

#toolbar1, 
#sidebarToolbar_URL,
#sidebarToolbar_controls,
#sidebarToolbar_speed { 
	color: white; 	
}
separator.shadow {
	height: 5px;
	background-image: url("form-shadow-bg.png");
	background-repeat: repeat-x;
}
separator.dark-shadow {
	height: 3px;
	background-image: url("content-shadow-bg.png");
	background-repeat: repeat-x;
}

/** Tabs */

tabpanels {
    -moz-appearance: none;
    border:none;
    background:#333;
    color: #eee;
	margin: 0;
	padding-top: 11px;
}
#tabbox,
tabs {
	-moz-appearance: none;
	background-image: url("tab-bg.png");
	background-repeat: repeat-x;
	width: 100%;
	height: 20px;
	margin:0;
	padding:0;
	border-collapse: collapse;
}
tab,
.vaadin-console-tab {
	-moz-appearance: none;
	background-image: url("tab-bg.png");
	background-repeat: repeat-x;
    margin:0;
	color: rgb(23,23,23);
	text-shadow: #999999 0px 1px 0px;
    width: auto;
    text-align:center;
	height: 20px;
	border: 1px solid rgba(0,0,0,0.3);
	border-top: none;
	border-bottom: none;
}
#selenium-ide-sidebar tab, 
#selenium-ide-sidebar .vaadin-console-tab{
	width:auto;
}

tab[selected="true"] {
	background-image: url("tab-selected-right.png");
	color: rgb(241,241,241);
	text-shadow: rgb(32,73,132) 0px 1px 0px;
	border: 1px solid rgba(255,255,255,0.1);
	border-top: none;
	border-bottom: none;
}

.tabs-left {
   -moz-box-flex: 0 !important;
}

/*
tab[selected="true"],
toolbarbutton[selected="true"]{
	background:#eee;	
}
*/

/** Log */

#logMenu {
  height: 20px;
  border-bottom: none;
  background-image: url("tab-bg.png");
  background-repeat: repeat-x;
  border-bottom: 1px solid rgb(40,40,40);
}

toolbarbutton.vaadin-console-tab {
	-moz-appearance: none;
	color: black;
	text-shadow: #999999 0px 1px 0px;
	border: 1px solid rgba(0,0,0,0.3);
	border-top: none;
	border-bottom: none;
	padding-top: 1px;
}
toolbarbutton.vaadin-console-tab[selected="true"] {
	background-image: url("tab-selected-right.png");
	text-shadow: none;
	color: rgb(241,241,241);
	border: 1px solid rgba(255,255,255,0.1);
	border-top: none;
	border-bottom: none;
}

#logView,#helpView,#uiView,#rollupView{
	border: none;
    background-color: rgb(76,76,76);
	background-image: url("content-shadow-bg.png");
	background-repeat: repeat-x;
    color: rgb(166,166,166);   
	padding: 0;
	margin: 0;
}

#logFilter,#logClear {
	width: 50px;
	background-image: none;
	color: black;
	text-shadow: #999999 0px 1px 0px;
	padding-top: 1px;
}
#logFilter:hover,#logClear:hover {
	background-color: transparent;
}
tree{
	-moz-appearance: none;
	background-color:#eee;
	border:none;
}

#testbench-logo{
	list-style-image: url("chrome://vaadin-ide/skin/testbench-logo.png");
	margin-left: 8px;
	margin-bottom: 5px;	
}

#selenium-ide-sidebar #testbench-logo{
	list-style-image: url("chrome://vaadin-ide/skin/testbench-logo_small.png");
}
treechildren::-moz-tree-cell(recordIndex){
  border-top: none;
}

/** URL bar */
#toolbar1,
hbox.toolbar1 {
	-moz-appearance: none;
	background-image: url("url-bar-bg.png");
	background-repeat: repeat-x;
	margin: 0px;
	padding: 0px;
}
label {
	background-color: transparent;
	padding: 0;
}
#labelURL {
	margin-left: 14px;
	margin-right: 14px;
	color: rgb(209,209,209);
	text-shadow: rgb(13,13,13) 0px -1px 0px;
}
#baseURL,
#baseURL .textbox-input-box {
	-moz-appearance: none;
	background-image: url("url-field-bg.png") !important;
	background-repeat: repeat-x;
	color: rgb(209,209,209);
	height: 26px;
}
#baseURL-left {
	list-style-image: url("url-field-start.png");
	height: 26px;
}
#baseURL-right {
	list-style-image: url("url-field-arrow.png");
	margin-left: -22px
}
#vaadin-logo{
    list-style-image: url("vaadin-logo.png");
	background-color: transparent;
    margin: 0px;
	padding: 0px;
}

/** Record/play toolbar */
#toolbar2, #sidebarToolbar_controls {
	border-top: none !important;
	height: 25px;
}
#toolbar2,
#sidebarToolbar_controls,
hbox.sidebarToolbar,
hbox.toolbar2 {
	-moz-appearance: none;
	margin: 0;
	padding: 0;
	background-image: url("toolbar-bg.png");
	background-repeat: repeat-x;
}
toolbarseparator {
	margin: 0;
}
toolbarbutton,
toolbarseparator {
	-moz-appearance: none;
    padding: 0;
    width: 33px;
    height: 24px;
    background-image: url("toolbar-separator.png");
    background-color: transparent;
    background-repeat: no-repeat;
}

toolbarbutton.icon {
/*  padding: 2px 4px 2px 4px;*/
  margin: 0;
  border: 0;
}

toolbarbutton:hover:not([disabled="true"]) { 
  background-color: transparent;
}

toolbarbutton.icon:not([disabled="true"]) {
/*  list-style-image: url("icons.png");*/
}

toolbarbutton.icon[disabled="true"] {
/*  list-style-image: url("icons_disabled.png");*/
}

toolbarbutton.icon image {
  margin-right: 0px;
}

toolbarbutton.icon label {
  display: none;
}

#play-suite-button {
	-moz-image-region: auto;
    list-style-image: url("play-suite.png");
}
#play-button {
	-moz-image-region: auto;
    list-style-image: url("play.png");
}
.pause#pause-button,
.resume#pause-button { 
	-moz-image-region: auto;
    list-style-image: url("pause.png");
}
.resume#pause-button {
	background-image: url("toolbar-btn-down.png");
}
#step-button {
	-moz-image-region: auto;
    list-style-image: url("skip.png");
    border-right: 1px solid rgb(55,55,55)
}
#record-button:not([checked="true"]) { 
	-moz-image-region: auto;
	height: 24px;
    list-style-image: url("record.png");
}
#record-button[checked="true"] {
	-moz-image-region: auto;
	height: 24px;
    list-style-image: url("recording.png");
	background-image: url("toolbar-btn-down.png");
}
#toolbar2 toolbarbutton:active:not([disabled="true"]) {
	background-image: url("toolbar-btn-down.png");
}
/** Slider */

#speedSliderBox label {
  color: white;
  text-shadow: black 0px -1px 0px;
  font-size: 8pt;
}

#speedSliderBox .slider-box {
	margin-top: -10px;
}

#speedSliderBox .slider-middle {
  background: url("slider-middle.png");
  background-position: left 9px;
  background-repeat: repeat-x;
}

#speedSliderBox .slider-left {
  background: url("slider-left.png");
  background-position: left 9px;
  background-repeat: no-repeat;
  width: 5px !important;
}

#speedSliderBox .slider-right {
  background: url("slider-right.png");
  background-position: right 9px;
  background-repeat: no-repeat;
  width: 4px;
}

#speedSliderBox thumb {
  -moz-appearance: none !important;
  border: none;
  background: url("slider-handle.png");
  background-repeat: no-repeat;
  background-position: 0 1px;
  width: 9px;
  height: 16px;
  min-width: 9px;
}

/** Test Case Tree */

#suitePane { display:none; }

#suiteTree {
	background-color: black;
	margin: 0;
	padding: 0;
	border-bottom: 1px solid black;
}
#suitePane #shadowOverlay {
	margin-top: 20px;
}
#suitePane treechildren {
	background-color: rgb(82,82,82);
	background-image: url("content-shadow-bg-2.png");
	background-repeat: repeat-x;
}
#suitePane treechildren::-moz-tree-cell-text {
	color: white;
}
#suitePane treechildren::-moz-tree-row(even) {
	background-color: rgba(0,0,0,0.073);
}
#suitePane treechildren::-moz-tree-row(odd) {
	background-color: transparent;
}
#suitePane treechildren::-moz-tree-cell-text(currentTestCase) {
	font-weight: bold;
	text-shadow: rgba(58,58,58,0.3) 0px 1px 0px;
}
#suitePane treechildren::-moz-tree-row(currentTestCase) {
	background-image: url("list-selected-bg.png");
	height: 20px;
}
#suitePane treecol {
	-moz-appearance: none;
	background-image: url("tab-bg.png");
	background-repeat: repeat-x;
	color: white;
	height: 21px;
	border: none;
	border-bottom: 1px solid #282828;
	text-shadow: rgb(58,58,58) 0px -1px 0px;
}
#suitePane {
	-moz-appearance: none;
    border:none;
    background:rgb(56,56,56);
    color: #eee;
    padding:0;
    margin: 0;
	border-right: 1px solid rgb(50,50,50);
	border-bottom: 1px solid rgb(30,30,30);
}

#suiteProgressBar {
  background: url("statusbar-bg.png");
  height: 18px;
  width: 100%;
  margin: 0px 0px 3px 0px;
  border: none;
}

#suiteProgressIndicator.success {
  background: url("status-success.png");
}

#suiteProgressIndicator.failure {
  background: url("status-failure.png");
}
#suiteProgressRuns {
  color: rgb(57,227,66);
}
#suiteProgressInfo {
	margin: 1px 10px 6px 10px;
}

#editorpane {
	background: white;
	color: rgb(135,135,135);
}

#mainvbox,
#mainhbox,
#editorpane,
#commands,
#commandDetail,
#source,
tabpanels,
toolbox,
toolbar,
tree {
	margin: 0;
	padding: 0;
	border: none;
}

/** Commands tree (table) */
#commands {
	border-bottom: 1px solid rgb(200,200,200);
}
#commands treechildren {
	color: black;
	background-color: white;
}
#commands treechildren::-moz-tree-row(even) {
	background-color: rgb(247,247,247);
}
#commands treechildren::-moz-tree-row(odd) {
	background-color: white;
}
#commands treechildren::-moz-tree-row(selected) {
	background-color: rgb(101,145,247);
	/*background-color: #B4D8E7;*/
}
#commands treechildren::-moz-tree-row(commandSelectedForReplacement),
#commands treechildren::-moz-tree-row(commandStarted){
     background-color: #FFF0AA;
}
#commands treechildren::-moz-tree-row(commandDone),
#commands treechildren::-moz-tree-row(commandPassed) {
	background-color: #B0E57C;
}
#commands treechildren::-moz-tree-row(commandFailed) {
    background-color: #FFAEAE;
}

#commands treechildren::-moz-tree-cell-text(selected) {
	color: white;
	text-shadow: #DDD 10px 10px 2px;
}
#commands treecol {
	-moz-appearance: none;
	background-image: url("table-header-bg.png");
	background-repeat: repeat-x;
	color: #d5d5d5;
	text-shadow: #444 0px -1px 0px;
	height: 20px;
	border: none;
	border-right: 1px solid rgba(0,0,0,0.35);
	font-size: 8pt;
}
treechildren::-moz-tree-row {
  height: 20px;
}

/** Command editing */
#commandDetail label {
	text-align: right;
}

#commandDetail textbox[type="autocomplete"] .autocomplete-history-dropmarker image {
	-moz-appearance: none !important;
	display: none !important;
}

#commandDetail textbox[type="autocomplete"] .autocomplete-history-dropmarker{
 	-moz-appearance: none;
	background-image: url("dropdown-arrow.png");
	background-repeat: no-repeat;
	background-position: center center;
	width: 20px;
}

#commandDetail textbox[type="autocomplete"] .textbox-input-box {
    -moz-appearance: none;
}

#commandDetail textbox[type="autocomplete"] .autocomplete-textbox-container{
	 -moz-appearance: none; 
}
#commandDetail .textbox-input-box {
	-moz-appearance: none;
}
#commandDetail textbox { 
	-moz-appearance: none;
	background-color: rgb(248,248,248);
	border:1px solid rgb(183,183,183);
    height:19px;
	font-size: 8pt;
	color: black;
    border-radius: 4px;
}
#commandDetail textbox[disabled="true"]{
	-moz-appearance: none;
	/* TODO */
}
#commandDetail {
    border-bottom: 1px solid rgb(64,64,64);
}
