/* Background color */
#selenium-ide,#menubar,#toolbar1,#toolbar2 {
	-moz-appearance: none;
    background-color: black;
}

#logBox{
	-moz-appearance: none;
	border:none;
	padding:5px;
	background:#333;
    border-radius: 4px;
}

#logFilter, #logClear{
    -moz-appearance: none;
	color: #eee;
}

#menubar > menu { color: white; }

#toolbar1, #toolbar2 { 
	color: white; 	
}

#suitePane {
	-moz-appearance: none;
    border:none;
    background:#333;
    border-radius: 4px;
    color: #eee;
    padding:5px;  
}

textbox[type="autocomplete"] .autocomplete-history-dropmarker{
 	-moz-appearance: menulist;    
    width:25px;   
    border-radius:4px;
}

textbox[type="autocomplete"] .textbox-input-box{
    -moz-appearance: none;       
}

textbox[type="autocomplete"] .autocomplete-textbox-container{
	 -moz-appearance: none; 
}

textbox{ 
	-moz-appearance: none;
	background:#eee; 
	border:0px solid red;
    border-radius:4px;
    height:24px;
}
textbox[disabled="true"]{
	background:silver;
}

tabpanels {
    -moz-appearance: none;
    border:none;
    background:#333;
    border-radius: 4px;
    color: #eee;   
}

tab, #logTab, #helpTab, #uiTab, #rollupTab{
	-moz-appearance: none;
    -moz-border-radius: 4px 4px 0px 0px;
    background:silver;
    margin:0 0 0 5px;
    border:none;
    color: white;
    width:100px;
    color:#333;
    text-align:center;
}
tab[selected="true"]{
	background:#eee;	
}

#logView,#helpView,#uiView,#rollupView{
	border:none;
    background:#333;
    border-radius: 4px;
    color: #eee;   
}

tree{
	-moz-appearance: none;
	background-color:#eee;
	border:none;
	border-radius: 4px;
}
