#logTab, #helpTab{ padding-left: 5px; padding-right: 5px; }
#toolbar2{ height:24px; }
#menubar{ border-bottom:0; }
#viewTabs > *{ border-bottom:0; }
#viewTabs tab{ 
   border-radius: 0; 
   background-color: transparent;
   margin-bottom:0;
   padding-bottom:0;
}
#source, #editorpane{
    border-top:1px solid rgb(50,50,50);
}

