<?xml version="1.0"?>
<!--
  ~ Copyright (C) 2000-2026 Vaadin Ltd
  ~
  ~ This program is available under Vaadin Commercial License and Service Terms.
  ~
  ~ See <https://vaadin.com/commercial-license-and-service-terms> for the full
  ~ license.
  -->

<settings>
    <profiles>
        <profile>
            <id>it-repo</id>
            <repositories>
                <repository>
                    <id>local.central</id>
                    <url>@localRepositoryUrl@</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>vaadin-prereleases</id>
                    <url>https://maven.vaadin.com/vaadin-prereleases</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>vaadin-addons</id>
                    <url>https://maven.vaadin.com/vaadin-addons</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>local.central</id>
                    <url>@localRepositoryUrl@</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </pluginRepository>
                <pluginRepository>
                    <id>vaadin-prereleases</id>
                    <url>https://maven.vaadin.com/vaadin-prereleases</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>it-repo</activeProfile>
    </activeProfiles>
</settings>
